/* Reset */
*{
    margin: auto;
    padding: 0;
}

/* Global Config */
/* Import Ultra & Poppins dari Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Poppins:500');
@import url('https://fonts.googleapis.com/css?family=Ultra');

body{
    height: 100%;
    background-color: #535151;
    overflow-y: auto;
}


/* Header */
.showcase{
    background-image: url(../images/hagia.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background
    width: 100%;
    height: 30vh;
}


/* Untuk Navbar */
.navbar{
    position: sticky;
    top: 0;
    height: 50px;
    margin: 0;
    width: 100%;
    height: 50px;
}

/* Saya pake display flex */
.ul-nav{
    padding-left: 20%;
    background-color: #1a1919;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.li-nav {
    list-style: none;
    margin: 0 30px;
    height: 100%;
}

/* Menghilangkan underline dan mengganti font-family ke Ultra */
.li-nav a{
    text-decoration: none;
    color: #fff;
    line-height: 3.5em;
    font-family: 'Ultra', serif;
}

.btn-link{
    padding: 0px 25px;
}

.btn-link:hover{
    padding: 0px 25px;
    background-color: rgb(0, 183, 255);
}


/* Main Content */
.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.main{
    color: #f7f5f5;
    flex-basis: 75%;
    margin-top: 0;
    height: 75vh;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding: 10px;
}

.main h1{
    font-weight: 900;
    font-size: 3em;
    text-align: center;
}

#map{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}

#img-map{
    width: 100%;
}


.doc{
    text-indent: 30px;
    text-align: justify;
    font-size: 1.40em;
}

.sidebar{
    flex-basis: 25%;
    background-color: #8e92a1; 
    margin-top: 0;
    min-height: 75%;
    position: sticky;
    top: 0;
    z-index: -1;
    height: 90vh;
    display: flex;
    flex-direction: column;
}

#side-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn{
    margin-top: 5px;
    padding: 10px 30px;
    border: 1px solid white;
    border-radius: 10px;
    text-decoration: none;
    color: white;
}

.btn:hover{
    background-color: #fff;
    color: #535151;
}

#footer{
    text-align: center;
    background-color: cornsilk;
    color: #535151;
    line-height: 3em;
}